{% extends "layout/base.html" %}

{% block content %}
<main class="container py-8">
    <section class="card card-body">
        <h1 class="display-1 text-center">Tasks App with Django</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit libero eos nisi non consequatur soluta laboriosam, laudantium dicta iure, id excepturi sed delectus vitae odio ducimus quidem cupiditate esse asperiores dolores necessitatibus maiores iste vero unde. Voluptatibus accusantium suscipit iste non quis soluta esse deleniti obcaecati modi eligendi porro quibusdam ullam cumque beatae quam officiis expedita repellendus nihil alias, laborum sed autem delectus sit quo! Placeat quisquam et ducimus reiciendis eveniet earum inventore fuga officiis, fugiat officia quidem beatae aspernatur ratione error molestiae tempora pariatur dolore? Tempore voluptates inventore culpa, consequuntur sequi placeat sint a atque soluta animi, sit facilis.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}